<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <title>TheBookHome</title>

</head>
<body>
<header>
    <nav class="nav">
        <ul class="ul">

            <!-- <li class="logo" type="button"> TheBookHome</li>-->
            <a th:href="@{/}" class="logo">The BookHome</a>
            <li class="btn"><span class="fa fa-bars"></span></li>
            <div class="items">

                <li><a href="">Home</a></li>
                <div class="categories">
                    <li><a href="" >Categories</a>
                        <ul class="categories-dropdown">
                            <li><a href="#">Romantic</a></li>
                            <li><a href="#">CRIMINAL</a></li>
                            <li><a href="#">COMPUTERS</a></li>
                            <li><a href="#">PSYCHOLOGY</a></li>
                            <li><a href="#">BUSINESS</a></li>
                            <li><a href="#">SPORT</a></li>
                        </ul>
                    </li>
                </div>

                <li><a th:href="@{/users/login}" sec:authorize="!isAuthenticated()">Login</a></li>
                <li><a th:href="@{/users/register}" sec:authorize="!isAuthenticated()">Register</a></li>
                <li>
                    <form id="logoutForm" th:action="@{/users/logout}" method="post">
                        <a href="#" onclick="document.getElementById('logoutForm').submit()" sec:authorize="isAuthenticated()">Logout</a>
                    </form>
                </li>
                <li><a href="">Profile</a></li>
                <li><a href="" class="fa fa-shopping-cart"></a></li>

            </div>
            <li class="search-icon">
                <input type="search" id="search" placeholder="Search">
                <label  class="icon fa fa-search" for="search">

                </label>

            </li>
        </ul>
    </nav>
    <script>
        $('nav ul li.btn span').click(function(){
            $('nav ul div.items').toggleClass("show")
            $('nav ul li.btn span').toggleClass('show')
        })
    </script>
</header>
<main>
    <section class="home" id="home">

        <div class="row">

            <div class="content">
                <h3>Upto 75% off</h3>
                <p>Believe it or not, there is a science behind choosing the best fonts for books. Think about all the places you see type today. Whether it’s a phone, a computer screen, a book, an ad, a magazine or a menu, almost every minute of the day is spent reading something</p>
                <a href="#" class="btn-shop-now">shop now</a>
            </div>
            <div class="swiper books-slider">
                <div class="swiper-wrapper">
                    <!--//here the images of the books should come from the database
                    //TODO:-->
                    <th th:each="book : ${books}">
                        <a href="#" class="swiper-slide"><img th:src="${'data:image/jpeg;base64,' + book.getImage()}" alt="Book"></a>

                    </th>

                <!-- Add more slides as needed -->
                </div>
                <img src="https://raw.githubusercontent.com/KordePriyanka/Books4MU-Book-Store-Website-/main/image/stand.png" class="stand" alt="">
            </div>
        </div>




    </section>

</main>
<script >var swiper = new Swiper(".books-slider", {
    loop:true,
    centeredSlides: true,
    autoplay: {
        delay: 9500,
        disableOnInteraction: false,
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        768: {
            slidesPerView: 2,
        },
        1024: {
            slidesPerView: 3,
        },
    },
});</script>


</body>
</html>