<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <title>TheBookHome</title>

</head>
<body>
    <header>
        <nav>
            <ul>

               <!-- <li class="logo" type="button"> TheBookHome</li>-->
                <a href="/" class="logo">The BookHome</a>
                <li class="btn"><span class="fa fa-bars"></span></li>
                <div class="items">

                    <li><a href="">Home</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a th:href="@{/users/login}" sec:authorize="!isAuthenticated()">Login</a></li>
                    <li><a th:href="@{/users/register}" sec:authorize="!isAuthenticated()">Register</a></li>
                    <form th:method="POST" th:action="@{/users/logout}">
                        <li><a th:href="@{/users/logout}" sec:authorize="isAuthenticated()">Logout</a></li>
                    </form>

                    <li><a href="">Profile</a></li>
                    <li><a href="" class="fa fa-shopping-cart"></a></li>

                </div>
                <li class="search-icon">
                    <input type="search" id="search" placeholder="Search">
                    <label  class="icon fa fa-search" for="search">

                    </label>

                </li>
            </ul>
        </nav>
        <script>
            $('nav ul li.btn span').click(function(){
                $('nav ul div.items').toggleClass("show")
                $('nav ul li.btn span').toggleClass('show')
            })
        </script>
    </header>



</body>
</html>