<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/register.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <title>TheBookHome</title>
</head>
<body>
    <header th:replace="~{index::header}"></header>
    <main>
        <form th:action="@{register}"
              th:method="POST">
            <h2>New here?</h2>
            <div class="inputBox">
                <input type="text" name="username" id="username" required>
                <label for="username">Username</label>
            </div>
            <div class="inputBox">
                <input type="text" name="email" id="email" required>
                <label for="email">Email</label>
            </div>
            <div class="inputBox">
                <input type="text" name="password" id="password" required>
                <label for="password">Password</label>
            </div>
            <div class="inputBox">
                <input type="text" name="confirmPassword" id="confirmPassword" required>
                <label for="confirmPassword">Confirm Password</label>
            </div>
            <div class="inputBox">
                <input type="submit" value="Create">
            </div>
            <p>Already have an account ?<a th:href="login">Login</a></p>
        </form>
    </main>

</body>
</html>